<header id="header-content">
	<title>Frolf Zone Home</title>
  <link rel="stylesheet" type="text/css" href="js/Profile/profileStyles.css">
  <button>Login</button>
  <input class="searchBar" placeholder="search">
  <a href="#/"> Home </a>
  <a href="#/profile"> Profile </a>
  <a href="#/courses"> Courses </a>
</header>
<body ng-controller="profileCtrl">
	<!-- start new match. -->
<!-- <button id="newGame" ng-click="hideGame = false">New Game</button> -->

	<!--<p contenteditable="true" ng-click="clearName()" ng-model="playerName">Player Name</p> -->

<!-- <div ng-hide="hideGame">
	<div ng-repeat="field in fields">
		{{field}}<input ng-model=filters[field]></input>
	</div>
	<h3>New Game</h3>
	<button ng-click="addPlayer()">Add Player</button>
	{{filters}}

	<button id="submit">Submit</button>
</div> -->

<new-game-button ng-click="toggle()"></new-game-button>
<add-player-button></add-player-button>
<div id="space-for-players"></div>
<div id="space-for-new-game"></div>


</body>
