<header id="header-content">
	<title>Frolf Zone Profile</title>

  <link rel="stylesheet" type="text/css" href="js/Profile/profileStyles.css">
	<div class="login">
	<div class="jumbotron col-md-6 col-md-offset-3 dash-head">
	    <a href="" ng-click="showReg()">{{status}}</a>
	    <div ng-show="!reg">
        <h2>Login</h2>
          <p ng-show="error" class="text-danger">{{ error }}</p>
          <input type="email" placeholder="Email" class="form-control" ng-model="details.email" required><br>
          <input type="password" placeholder="Password" class="form-control" ng-model="details.password" required><br>
          <input type="submit" class="btn btn-info" value="Sign In">
	    </div>
	    <div ng-show="reg">
	        <h2>Register</h2>
	        <!-- Step One Of Registration-->
	        <form ng-submit="register()">
	            <p ng-show="error" class="text-danger">{{ error }}</p>
	            <input class="form-control" type="text" placeholder="Full Name" ng-model="details.name" required /><br />
	            <input class="form-control" type="email" placeholder="Email" ng-model="details.email" required /><br />
	            <input class="form-control" type="password" placeholder="Password" ng-model="details.password" required /><br />
	            <input type="submit" class="btn btn-info btn-lg" value="Register" />
	        </form>
	    </div>
	</div>
	<a href="#/"> Home </a>
	<a href="#/profile"> Profile </a>
	<a href="#/courses"> Courses </a>
</div>

</header>




<body>
	<!-- start new match. -->
<!-- <button id="newGame" ng-click="hideGame = false">New Game</button> -->

	<!--<p contenteditable="true" ng-click="clearName()" ng-model="playerName">Player Name</p> -->

<!-- <div ng-hide="hideGame">
	<div ng-repeat="field in fields">
		{{field}}<input ng-model=filters[field]></input>
	</div>
	<h3>New Game</h3>
	<button ng-click="addPlayer()">Add Player</button>
	{{filters}}

	<button id="submit">Submit</button>
</div> -->
<div style='z-index: 1' class="creatingGame">
	<new-game-button ng-click="toggle()"></new-game-button>
	<add-player-button></add-player-button>
	<div id="space-for-players"></div>
	<div id="space-for-new-game"></div>
</div>


</body>
